@import "tailwindcss";

@layer base {
  html {
    @apply text-gray-400;
  }
}

@layer components {
  input {
    @apply outline-none;
  }

  .container {
    @apply w-[90%] md:w-[85%];
  }

  h1 {
    @apply font-semibold text-lg text-black;
  }

  h2 {
    @apply font-bold text-sm;
  }

  p {
    @apply text-sm;
  }
 button {
    @apply px-4 py-1 rounded-lg bg-cyan-400 text-white transition-all;
  }

  .myClass {
    @apply text-gray-400;
  }
  html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
html {
  scroll-behavior: smooth;
}
/* Custom CSS for the Hexagon Shape */
.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}

}
